APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString
APP_URL=http://localhost

ITAU_AUTH_API=url
# ITAU_TEST_API=url
ITAU_TEST_API=url
ITAU_HOMOLOG_API=url
ITAU_PROD_API=url

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

# Banco monitoramento
DB_CONNECTION_MONITORA=mysql
DB_HOST_MONITORA=127.0.0.1
DB_PORT_MONITORA=3306
DB_DATABASE_MONITORA=homestead
DB_USERNAME_MONITORA=homestead
DB_PASSWORD_MONITORA=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

DEFAULT_USER_SYSTEM=user
DEFAULT_PASSWORD_SYSTEM=123
DEFAULT_USER_ID=1

DB_CONNECTION_MONITORA=mysql
DB_HOST_API=127.0.0.1
DB_PORT_API=3306
DB_DATABASE_API=homestead
DB_USERNAME_API=homestead
DB_PASSWORD_API=secret

SANDBOX_REDE_PV=num
SANDBOX_REDE_TOKEN=num

FFMPEG_BIN_LOCATION=location
FFPROBE_BIN_LOCATION=location