vendor/
node_modules/
public/storage/
storage/
.svn/
nbproject/
.vscode/
.idea/
ctrl1.sql
Homestead.yaml
Homestead.json
.env
_ide_helper.php
_ide_helper_models.php.php
.phpstorm.meta.php
.phpunit.result.cache

web.config
