body
    background-color: #f5f8fa !important

div.grid-body-component
    margin: 0 auto
    width: 75%

div.title-display
    display: flex
    justify-content: space-between
    align-items: center

button.btn-registro
    background-color: #84CEEB
    color: #000000

    &:hover, &:active, &:focus
        color: #000
        box-shadow: 0px 0px 8px #0D47A1
        background-color: #84CEEB

button.btn-geral
    background-color: #5680E9
    color: #fff

    &:hover, &:active, &:focus
        color: #fff
        box-shadow: 0px 0px 8px #0D47A1
        background-color: #5680E9

button.btn-buscas
    background-color: #8860D0
    color: #fff

    &:hover, &:active, &:focus
        color: #fff
        box-shadow: 0px 0px 8px #0D47A1
        background-color: #8860D0

.hidden
    display: none

button.btn-xs
    padding: 1px 5px 1px 5px !important
    font-size: 0.8rem !important
    font-weight: 300 !important

div.table-scroll
    overflow: auto
    white-space: nowrap

table.table-condensed
    font-size: 0.9rem !important

table.table-condensed th
    padding: 10px 8px 10px 8px !important

table.table-condensed td
    padding: 8px 6px 8px 6px !important

table.table-condensed td button
    font-size: 0.7rem !important
    padding: 0.7px 3px 0.7px 3px !important
    margin: 0 !important

.modal-lg
    max-width: 80% !important

table.table-sm th.sorting
    height: 30px !important

th.sorting::before
    margin-top: 200px !important

th.sorting::after
    margin-top: 200px !important

.form-row .form-group button
    margin-top: 20px !important

.table td button.btn
    margin-top: -2.5px !important
    padding: 0.5px 5px 0.5px 5px !important
    font-size: 0.75rem !important

.table-hidden
    display: none

.list-select
    min-height: calc(2.25rem + 2px) !important
    max-height: calc(2.25rem + 2px) !important
    height: calc(2.25rem + 2px) !important

.list-select > .text.default,.list-select > .text
    position: relative !important
    top: -0.13rem !important

.swal2-icon.swal2-question, .swal2-icon.swal2-warning, .swal2-icon.swal2-info
    width: 105px !important
    height: 105px !important

.swal2-question > .swal2-icon-text, .swal2-warning > .swal2-icon-text, .swal2-info > .swal2-icon-text
    font-size: 6.85rem !important
    margin: -99px !important